---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Old Blues FC">
  <main>
    <p>Amateur men's football club based in Richmond, West London.</p>
    <p>Old Blues have three squads playing in the <a href="https://www.southernamateurleague.co.uk/">SAL</a>.</p>
  </main>
</Layout>

<style>
  main {
    width: 1300px;
  }
</style>
