---

---

<header>
  <a class="logo" href="/">
    <img class="logo-image" src="/old_blues_logo.png" height="50" width="50" />
  </a>
  <a href="https://old-blues-association-football-club.pendlesportswear.co.uk"
    >Shop</a
  >
</header>

<style>
  header {
    display: flex;
    width: 100%;
    background-color: var(--footer-colour);
    font-size: 1.2rem;
    gap: 2em;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
    font-weight: 800;
    color: black;
  }

  a {
    align-self: center;
  }
</style>
