---
---

<header>
  <a class="logo" href="/">
    <img src="/old_blues_logo.png" height="80" width="80" />
    <div>Old Blues Football Club</div>
  </a>
  <a href="/leagues">Leagues</a>
  <a href="https://www.truesportingcolours.com/old-blues-fc-180-c.asp">Shop</a>
</header>

<style>
  header {
    display: flex;
    width: 100%;
    background-color: var(--footer-colour);
    font-size: 2rem;
    gap: 2em;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 2em 2em;
    font-weight: 800;
    color: black;
  }
  a {
    align-self: center;
  }
</style>
