---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <div class="container">
      <slot />
    </div>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
    --footer-colour: rgb(234, 234, 237);
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  body {
    margin: 0;
    padding: 0;
    min-height: calc(100vh);
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  .container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 4em;
  }
  a {
    color: #021d40;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
  }
  a:hover {
    text-decoration: underline;
    color: #aa8b00;
  }
  p {
    font-size: 1.6rem;
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
